.note{
    width: fit-content;
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}
.title, .content{
    width: 200px;
}
div{
    display: flex;
    flex-wrap: wrap;
}